{{#each data}}
  <div style="outline: 1px solid red
  "class="mainframe">

    <p> {{registration}} </p>
    <p> {{model}} </p>
    <p> {{damage}} </p>
    <p> {{owner}} </p>
    <p> {{_id}} </p>
  </div>
 {{/each}}